logs/
npm-debug.log
node_modules/
coverage/
.idea/
run/
logs/
.DS_Store
.vscode
*.swp
*.lock
index.js
.env*
static/*
!static/favicon.ico
!static/favicon_qcloud.ico
*.log

app/**/*.js
test/**/*.js
config/**/*.js
app/**/*.map
test/**/*.map
config/**/*.map
nohup.out
script/*.log.*
script/**/*.log.*
index.d.ts
dist
